<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url "create_project" %}">Create a new project</a></p>
            {% if project_list in project_list.items.all %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td><a href="{% url "show_project" project.id %}">{{project.name}}</a></td>
                                <td>{{project.tasks.all|length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
